.project img {
  height: 250px;
  margin-bottom: 24px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.project__title {
  font-size: 32px;
  margin-bottom: 24px;
  cursor: pointer;
}

.project__description {
  margin-bottom: 24px;
  max-width: 400px;
}

.project__button {
  cursor: pointer;
  font-size: 16px;
  border: 0;
  background-color: transparent;
  font-family: "Commissioner", sans-serif;
  transition: 0.4s;
}

/***** MOBILE *****/

@media (min-width: 1024px) {
  .project img {
    height: 300px;
    cursor: pointer;
    transition: 0.4s;
  }

  /***** HOVER STATES *****/

  .project:hover .project__button {
    text-decoration: underline;
  }

  .project:hover img {
    transform: scale(1.02);
  }
}
