/* ESTILOS GENERALES */

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-gotic: "Didact Gothic", sans-serif;
  --color-grey: #757575;
  --color-fondo: #faf8f7;
  --color-text: #474747;
  --color-fondo2: #4398f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-roboto);
  font-size: 10px;
  background-color: var(--color-fondo);
}

/* HEADER */

header {
  /*   background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: white;
}

.overlay {
  /* background-color: rgba(0, 0, 0, 0.8); */
  box-shadow: 8px 8px 8px rgba(89, 73, 30, 0.3);
}

header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

header .nav .logo a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 2.5rem;
}

header .menu {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  margin-left: 10px;
}

/* HERO */

main {
  width: 100%;
}

.container {
  width: 90%;
  height: 100%;
  min-height: 600px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero {
  display: flex;
  /*   align-items: center; */
  flex-direction: column;
  height: 80vh;
  text-align: center;
  width: 100% !important;
}

.hero .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .arrow p {
  font-size: 25px;
}
.hero .arrow span {
  font-weight: bold;
}

.hero .arrow svg {
  height: 25px;
  margin-left: 10px;
}

.hero h1,
.titulo {
  color: var(--color-text);
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.titulo span {
  font-weight: normal;
}

.hero .container .img {
  width: 50%;
  margin: 0;
  padding: 0;
}

.hero .container .img img {
  height: 100%;
  max-height: 400px;
  margin: 0;
  padding: 0;
  border-radius: 100%;
}

.hero .container .text {
  width: 50%;
}
.hero .container .text .buttons {
  display: flex;
  justify-content: space-around;
}

.hero .container .text .buttons a {
  display: inline-block;
  width: 40%;
  margin: 40px 0;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-family: var(--font-roboto);
  font-weight: bold;
  background-color: var(--color-fondo2);
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

.hero .text-p {
  color: black;
  font-size: 1.7rem;
  text-align: justify;
  margin-bottom: 20px;
  padding: 0 25px;
}

/* PROJECTS */
.projects {
  margin: 70px auto;
  width: 90%;
  max-width: 1000px;
}

.projects .titulo {
  margin-bottom: 70px;
  color: var(--color-text);
}

.project {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
}

.project .img {
  text-align: center;
  width: 40%;
  margin: 20px;
}

.project .img img {
  height: 350px;
}

.project .text {
  text-align: left;
  width: 60%;
}

.project .text-right {
  text-align: right;
  width: 60%;
  padding-left: 60px;
}

.project .text h2 {
  font-size: 30px;
  width: 80%;
  margin: 20px 0;
}

.project .text-right h2 {
  font-size: 30px;
  margin: 20px 0;
}

.project .text p {
  font-size: 14px;
  width: 80%;
}

.project .text-right p {
  font-size: 14px;
  text-align: right;
}

.titulo-card {
  color: var(--color-text);
}

.tech {
  margin-top: 20px;
  font-weight: bold;
  color: #757575;
}
