header .container {
  height: 100%;
}

header nav {
  position: relative;
}

header nav ul {
  display: none;
}

header .hero {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "img"
    "text";
  height: 80%;
}

header .hero .text {
  text-align: center;
}

header .hero .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .hero .img img {
  width: 60%;
  float: none;
}

header .hero .text .sub-p a {
  justify-content: center;
}

.projects .title {
  text-align: center;
}

.projects-container {
  grid-template-columns: 1fr;
}
