.projectList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 120px;
  margin: 130px 0;
}

@media (min-width: 1024px) {
  .projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
