/* HERO */

.hero .container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hero__title {
  font-weight: 400;
}

.hero__title span {
  font-weight: 700;
}

.hero__look a {
  text-decoration: none;
  color: #8c8c8c;
  transition: 0.3s;
}

.hero__look i {
  margin-left: 10px;
}

.hero .img {
  width: 100%;
  text-align: center;
}

.hero .img img {
  max-width: 250px;
  border-radius: 100%;
}

@media (min-width: 1024px) {
  .hero .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    align-items: center;
  }

  .hero .img img {
    max-width: 300px;
  }

  .hero__look a:hover {
    color: var(--dark);
  }
}

/* HERO */

/* PROJECTS */

.projects__title {
  font-weight: 400;
}

.projects__title span {
  font-weight: 700;
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--spacer) * 6);
}

@media (min-width: 1024px) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PROJECTS */
