@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;700&display=swap') layer(base);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap') layer(base);

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1200px) {
    max-width: 1200px;
  }
}

@theme {
  --grid-template-rows-layout: auto 1fr auto;

  --color-primary: #2563eb;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300 dark:bg-slate-950 dark:text-slate-100;
  }
}

h1,
h2,
h3 {
  font-family: 'Commissioner', system-ui;
  font-weight: 700;
}

h1 {
  font-size: 2.1875rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5625rem;
}

h4 {
  font-size: 1.125rem;
}

h5,
p {
  font-family: 'Open Sans', system-ui;
  font-size: 1rem;
}

button {
  font-family: 'Open Sans', system-ui;
  font-size: 1rem;
  font-weight: 600;
}

.logo {
  font-family: 'Open Sans', system-ui;
  font-size: 1.625rem;
}

.link {
  font-family: 'Open Sans', system-ui;
  font-size: 1;
  font-weight: 600;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.4375rem;
  }

  h2 {
    font-size: 2.8125rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.875rem;
  }

  h5 {
    font-size: 1.625rem;
  }
}
